[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
alembic = "*"
flask-cors = "*"

[dev-packages]
python-dotenv = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
